USE [staging]
GO
/****** Objet : Table [dbo].[source] Date de script : 6/15/2026 6:46:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[source](
	[ClientID] [nvarchar](8) NULL,
	[NomClient] [nvarchar](18) NULL,
	[Sexe] [nvarchar](1) NULL,
	[Age] [bigint] NULL,
	[TrancheAge] [nvarchar](5) NULL,
	[Ville] [nvarchar](11) NULL,
	[Region] [nvarchar](11) NULL,
	[DateInscription] [nvarchar](10) NULL,
	[AncienneteJours] [bigint] NULL,
	[AncienneteAnnees] [float] NULL,
	[ClientType] [nvarchar](11) NULL,
	[TransactionID] [nvarchar](11) NULL,
	[DateVente] [nvarchar](10) NULL,
	[Annee] [bigint] NULL,
	[Mois] [nvarchar](9) NULL,
	[MoisNum] [bigint] NULL,
	[Trimestre] [nvarchar](2) NULL,
	[YearMonth] [nvarchar](7) NULL,
	[JourSemaine] [nvarchar](8) NULL,
	[EstWeekend] [nvarchar](3) NULL,
	[EstJourFerie] [nvarchar](3) NULL,
	[CategorieProduit] [nvarchar](12) NULL,
	[SousCategorie] [nvarchar](13) NULL,
	[Produit] [nvarchar](17) NULL,
	[Montant] [float] NULL,
	[Quantite] [bigint] NULL,
	[Remise] [nvarchar](3) NULL,
	[MontantRemise] [float] NULL,
	[MontantFinal] [float] NULL,
	[CoutAcquisition] [float] NULL,
	[Marge] [float] NULL,
	[ModePaiement] [nvarchar](23) NULL,
	[CanalVente] [nvarchar](18) NULL,
	[Satisfaction] [nvarchar](16) NULL,
	[NPS] [bigint] NULL,
	[Commentaire] [nvarchar](17) NULL,
	[Campagne] [nvarchar](14) NULL,
	[CodePromo] [nvarchar](7) NULL,
	[PointsFidelite] [bigint] NULL
) ON [PRIMARY]
GO
